html {
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

details summary p {
  display: inline;
}

#resume {
  $text-color: #494e52;
  section {
    margin-top: 50px;
  }
  #tb {
    margin-top: 10px;
    hr {
      width: 50px;
      margin: 0 auto;
      border-color: #e7c53e;
      border-width: 2px 0 0 0;
    }
    p {
      margin-top: 20px;
    }
  }
  .title {
    background-color: #efebe8;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .list p, .list .fa {
    margin: 0;
    line-height: 35px;
  }
  .lead {
    margin-top: 1.7rem;
    font-size: 1.25rem;
    font-weight: 300;
    a, a:visited, a:hover {
      color: $text-color;
      text-decoration: none;
      border-bottom: 2px dotted $text-color;
    }
  }
  .sublead {
    margin-top: 1.5rem;
    font-size: 1.05rem;
    font-weight: 500;
  }
  .sublead::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    content: "";
    margin-left: 2px;
    margin-right: 8px;
  }
  li {
    font-size: 0.96rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  li ul li {
    font-size: 0.87rem;
  }
  .text-center {
    text-align: center;
  }
  .col-12 {
    width: 100%;
  }
  .small, small {
    font-size: 80%;
    font-weight: 400;
  }
}
